{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="site-content content-width">
    <div class="banner">
        <h1>{% trans "Sign Up" %}</h1>
        <div class="intro">
            <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
        </div>
    </div>
    <form class="form form-add-page" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
</div>



{% endblock %}
