{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="site-content content-width">
    <div class="banner">
        <h1>{% trans "Set Password" %}</h1>
    </div>
    <form method="POST" action="{% url 'account_set_password' %}" class="form form-add-page">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">{% trans 'Set Password' %}</button>
    </form>
</div>
{% endblock %}
