*.pyc
.DS_Store
/.venv/
/static/
/media/
/local/
/.vagrant/
/Vagrantfile.local
/docs/_build/
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
# dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.log
*.pot
madewithwagtail/settings/local.py
static/CACHE/*
.vagrant/*
media/*
.anaconda
*.DS_Store
*.sass-cache
.idea
.coverage
.bundle

core/static/css/*
core/static/js/*
!vendor/

# node
node_modules/
# bower
bower_components/
