PORT_PREFIX=520
ENVIRONMENT=dev
APPLICATION_VERSION=0.1
PROJECT=madewithwagtail
SITE_HOSTNAME=madewithwagtail-dev.springload.nz
CACHE_URL=redis://cache/0
TASK_QUEUE_URL=redis://cache/1
DATABASE_URL=postgres://postgres@database/app
DJANGO_SETTINGS_MODULE=madewithwagtail.settings.dev
APP_SECRET_KEY=111
DEV_SHOW_DEBUG_TOOLBAR=False
