# If local.py is present, any settings in it will override those in base.py and dev.py.
# Use this for any settings that are specific to this one installation, such as developer API keys.
# local.py should not be checked in to version control.

# Captcha settings https://www.google.com/recaptcha
RECAPTCHA_PUBLIC_KEY = 'set_your_key'
RECAPTCHA_PRIVATE_KEY = 'set_your_key'
NOCAPTCHA = True

# List of web hook URLs we push Slack messages to on page publish.
PUBLISH_SLACK_HOOKS = [
    'https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX'
]

# Google Analytics settings
GOOGLE_ANALYTICS_KEY = False
GOOGLE_TAG_MANAGER = False
GOOGLE_MAPS_API_KEY = False  # API Key with Embed and Javascript API enabled.
WAGTAIL_ADDRESS_MAP_KEY = GOOGLE_MAPS_API_KEY

# Setup your DB backend (example here for docker-compose)
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'madewithwagtail',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'database',  # Set to empty string for localhost.
        'PORT': '',  # Set to empty string for default.
        'CONN_MAX_AGE': 600,  # number of seconds database connections should persist for
    }
}
