{% extends "base.html" %}
{% load macros wagtailcore_tags core_tags %}
{% loadmacros "core/includes/macros.html" %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="site-content">
        <div class="banner content-width">
            {% if request.GET.tag|length %}
                <h2>
                    Wagtail sites tagged with <span class="text-light">{{ request.GET.tag }}</span>
                </h2>
                <a href=" {% pageurl self %} ">Show all sites</a>
            {% else %}
                {% if request.GET.page|length and request.GET.page != '1' %}

                {% else %}
                    <h1 class="">
                        {{ self.title }}
                    </h1>
                    <div class="intro">
                        {{ self.body|richtext }}
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% if not request.GET.tag|length %}
            <div class="content-width vertical-bottom-l">
                <div>
                    {% for tag in tags|slice:"10" %}
                        <a href="/?tag={{ tag.slug }}" class="btn -tag">{{ tag.name }} <span>{{ tag.count }}</span></a>
                    {% endfor %}

                    <span data-tags-additional class="tags__additional">
                        <span class="u-hide no-js__inline">
                            {% for tag in tags|slice:"10:" %}
                                <a href="/?tag={{ tag.slug }}" class="btn -tag">{{ tag.name }} <span>{{ tag.count }}</span></a>
                            {% endfor %}
                        </span>
                    </span>
                </div>
                <button type="button" class="btn tag__button no-js__hide" aria-expanded="false" data-tags-toggle>Show more tags</button>
            </div>
        {% endif %}

        <div class="content-width">
            {% include "core/includes/sites.html" with pages=pages tag=tag only %}
        </div>
    </div>
{% endblock %}
