{% extends "base.html" %}
{% load macros wagtailcore_tags core_tags %}
{% loadmacros "core/includes/macros.html" %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="site-content">
        <div class="banner content-width">
            {% if request.GET.tag|length %}
                <h2>
                    Wagtail sites tagged with <span class="text-light">{{ request.GET.tag }}</span>
                </h2>
                <a href=" {% pageurl self %} ">Show all sites</a>
            {% else %}
                {% if request.GET.page|length and request.GET.page != '1' %}

                {% else %}
                    <h1 class="">
                        {{ self.title }}
                    </h1>
                    <div class="intro">
                        {{ self.body|richtext }}
                    </div>
                {% endif %}
            {% endif %}


        </div>
        {% if not request.GET.tag|length %}
        <div class="content-width vertical-bottom-l tag__containter">
            <div class="tag__body">
                {% for tag in tags|slice:"10" %}
                    <a href="/?tag={{ tag }}" title="" class="btn tag">{{ tag }}</a>
                {% endfor %}
                <span data-tags-container class="tags__additional">
                    {% for tag in tags|slice:"10:" %}
                        <a data-tag href="/?tag={{ tag }}" title="" class="btn tag u-hide">{{ tag }}</a>
                    {% endfor %}
                </span>
            </div>
            <button class="tag__button" data-toggle>Show More</button>
        </div>

        {% endif %}
        <div class="content-width">
            {% include "core/includes/sites.html" with pages=pages tag=tag only %}
        </div>
    </div>
{% endblock %}
