
//input colours
$input-bg:                       #fff;
$input-color:                    $color-base-font;
$input-border:                   #ccc;
$input-border-radius:            $radius-border;
$input-border-focus:             $color-base-font;
$input-placeholder:              $color-base-font-muted;
$input-label-color:              $color-base-font-muted;


.form {

    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='url'],
    input[type='password'],
    textarea {
        padding: .5em .75em;
        border-radius: $input-border-radius;
        border: solid 1px $input-border;
    }
}

.form-add-page {
    max-width: 30em;

    input:not([type="checkbox"]),
    textarea {
        width: 100%;
    }

    p > label {
        // width: 10rem;
        display: inline-block;
        vertical-align: top;
        margin-bottom: .5rem;
    }

    .ctrl-holder {
        input {
            width: auto;
        }
    }
}

.helptext {
    color: $input-label-color;
}

.errorlist {
    list-style: none;
    padding-left: 0;
    margin-bottom: .5rem;

    color: #ff0000;

    + p {
        input,
        textarea {
            border: solid 1px #ff0000 !important;
        }
    }
}

.required label:after {
    content: "*";
    color: #ff0000;
    padding-left: 2px;
}
