/*============================================================================
  Devs Google Map
==============================================================================*/

.map {
    height: rem(420);
    border-top: solid 1.5rem #fff;
    border-bottom: solid 1.5rem #fff;
    padding-left: 0;
}

.label-xs {
    font-size: rem(11);
}

.label-s {
    font-size: rem(12);
}

.label-m {
    font-size: rem(13);
}

.label-l {
    font-size: rem(14);
}

.label-xl {
    font-size: rem(15);
}
