{% load compress static wagtailcore_tags core_tags wagtailimages_tags wagtailuserbar %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 no-js"><![endif]-->
<!--[if !IE]><!--><html class="no-js"><!--<![endif]-->
    <head>

        <!-- Made by Springload -->
        <meta charset="UTF-8"/>
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.intro %}{{ self.intro }}{% elif self.body_excerpt %}{{ self.body_excerpt|truncatewords:40 }}{% else %}{{ self.title }}{% endif %}" />

        {% block twitter_card %}
        {% include "core/includes/meta/twitter_card.html" %}
        {% endblock %}

        {% block og_tags %}
        {% include "core/includes/meta/open_graph.html" %}
        {% endblock %}

        {% block og_images %}
        {% include "core/includes/meta/open_graph_image.html" %}
        {% endblock %}

        <!-- features -->
        <meta name='viewport' content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-title" content="Made with Wagtail">
        <meta name="application-name" content="Made with Wagtail">
        <!-- end:features -->

        <!-- styles -->
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/screen.css' %}" />
        {% endcompress %}
        {% block extra_css %}
        {% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,800' rel='stylesheet' type='text/css'>
        <!-- end:styles -->

        <!-- css icons -->
        <noscript>
            <link href="{% static 'css/icons-fallback.css' %}" rel="stylesheet">
        </noscript>
        <script type="text/javascript">
            document.documentElement.className = document.documentElement.className.replace("no-js", "js");
            document.write("<style type='text/css'>.js_hide{display:none;}</style>");
            /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
            window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
            grunticon(["{% static 'css/icons-data-svg.css' %}", "{% static 'css/icons-data-png.css' %}", "{% static 'css/icons-fallback.css' %}"]);
        </script>
        <!-- end:js-support -->

        <!-- icons -->
        <link rel='shortcut icon' type="image/x-icon" href='{% static 'images/favicon.ico' %}'>
        <link rel='apple-touch-icon-precomposed' sizes='76x76' href='{% static 'images/apple-touch-icon-ipad.png' %}'>
        <link rel='apple-touch-icon-precomposed' sizes='120x120' href='{% static 'images/apple-touch-icon-iphone-retina.png' %}'>
        <link rel='apple-touch-icon-precomposed' sizes='152x152' href='{% static 'images/apple-touch-icon-ipad-retina.png' %}'>
        <!-- end:icons -->

    </head>
    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% block svg %}
            <div style='display: none;'>
                {% include "core/includes/svg.html" %}
            </div>
        {% endblock %}

        {% block header %}
            <div class="site-header">

                <div class="content-width">

                    <div class="grid">

                        <div class="one-whole--small one-third">
                            <a href="/" class="logo">
                                <span class="u-sr-only">Made with Wagtail</span>
                                {% include "core/includes/icon.html" with icon="made-with-wagtail-logo" class="made-with-wagtail i--no-fill" %}
                            </a>
                        </div>

                        <div class="one-whole--small two-thirds">
                            {% menu name='Main' current_page=self %}
                        </div>

                    </div>

                </div>

            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <div class="site-footer">
                <div class="grid content-width grid-stack">
                    {% footer_menu name='Footer' current_page=self %}
                </div>
            </div>

            <div class="text block--dark">
                <div class="content-width">
                    <p>Made in a weekend by
                        <span class="logo--inline">
                            <a href="http://springload.co.nz">
                                <span class="u-sr-only">Springload</span>
                                {% include "core/includes/icon.html" with icon="springload-logo-dark" class="springload" %}
                            </a>
                        </span>
                    </p>
                </div>
            </div>

        {% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/wagtailsites.js' %}"></script>
        {% endcompress %}
        {% block extra_js %}
        {% endblock %}
        {% if GOOGLE_ANALYTICS_KEY %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ GOOGLE_ANALYTICS_KEY }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
