{% load wagtailcore_tags wagtailimages_tags %}

<ol class="breadcrumb">
    <li>
        <a href="/">Home</a>
        {% include "core/includes/icon.html" with icon="arrow-right" color="grey" %}
    </li>
    {% for ancestor in ancestors %}
        {% if forloop.last %}
            {# <li class="active">{{ ancestor }}</li> #}
        {% else %}
            <li>
                <a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                {% include "core/includes/icon.html" with icon="arrow-right" color="grey" %}
            </li>
        {% endif %}
    {% endfor %}
</ol>
