{% load wagtailcore_tags core_tags %}

<ul class='nav'>
    {% for link in links %}
    <li class="nav__item">
        <a title="{% if link.title %}{{ link.title }}{% endif %}" href='{{ link.url }}' class='nav__link{% if link.is_active %} is-active{% endif %}'>
          {{ link.title }}
        </a>
    </li>
    {% endfor %}

{#    <li class='nav__item'>#}
{#        <a href="{% url 'wagtailsearch_search' %}" class="nav__link{% if request.path == '/search/' %} is-active{% endif %}">#}
{#            <span class="u-hide--small">Search</span>#}
{#            {% if not request.path == '/search/' %}#}
{#                {% set color = "teal" %}#}
{#            {% endif %}#}
{#            {% include "core/includes/icon.html" with icon="search" class="i--small u-middle i--hover" %}#}
{#        </a>#}
{#    </li>#}

</ul>
