{% load macros wagtailcore_tags core_tags wagtailimages_tags%}
{% loadmacros "core/includes/macros.html" %}

{% if pages|length %}
<div class="grid grid-stack site-listing">
    {% for page in pages %}
        <div class="one-half--medium one-third--large">
            <div class="card card--link">
                <a href="{{ page.url }}" class="project-image">
                {% if page.image_desktop %}
                {% image page.image_desktop fill-680x540 as image_desktop %}
                <img src="{{ image_desktop.url }}" alt="{{ image_desktop.title }}" title="{{ image_desktop.title }}" />
                {% endif %}
                </a>
                <div class="project__links">
                    <a class="project__info" href="{{ page.url }}">
                        <span class="u-sr-only">Project info</span>
                        {% include "core/includes/icon.html" with icon="info" color="grey" class="i--hover" %}
                    </a>
                    {% if page.site_url %}
                        <a class="project__visit" href="{{ page.site_url }}" title="Project link" data-analytics="Project|Link click">
                            <span class="u-sr-only">Project link</span>
                            {% include "core/includes/icon.html" with icon="visit" color="grey" class="i--hover" %}
                        </a>
                    {% endif %}
                </div>
            </div>
            <h4 class="project-title">
                {{ page.title }}
            </h4>
            <p class="project-author">
                {{ page.parent.title|default:"A Wagtail developer"  }}
            </p>
        </div>
    {% endfor %}

</div>
{% else %}
<div class="intro">
    Whoops, we don't have any sites that match that right now.
</div>
{% endif %}

{% usemacro pagination pages tag %}
