{% load macros wagtailcore_tags core_tags wagtailimages_tags%}
{% loadmacros "core/includes/macros.html" %}

{% if pages|length %}
<div class="grid grid-stack site-listing">
    {% for page in pages %}
        <div class="one-half--medium one-third--large">
            <div class="card card--link">
                <a href="{{ page.url }}" class="project-image">
                {% if page.site_screenshot %}
                {% image page.site_screenshot fill-680x564 as site_screenshot %}
                <img src="{{ site_screenshot.url }}" alt="{{ site_screenshot.title }}" title="{{ site_screenshot.title }}" />
                {% endif %}
                </a>
                <div class="project__links">
                    <a class="project__info" href="{{ page.url }}">
                        <span class="u-sr-only">Project info</span>
                        {% include "core/includes/icon.html" with icon="info" color="grey" class="i--hover" %}
                    </a>
                    {% if page.site_url %}
                        <a class="project__visit" href="{{ page.site_url }}" title="Project link" data-analytics="Project|Link click">
                            <span class="u-sr-only">Project link</span>
                            {% include "core/includes/icon.html" with icon="visit" color="grey" class="i--hover" %}
                        </a>
                    {% endif %}
                </div>
            </div>
            <h4 class="project-title">
                {{ page.title }}
            </h4>
            <p class="project-author">
                <a href="{{ page.parent.url }}" title="View the company page of {{ page.parent.title|default:"A Wagtail developer" }}">
                    {{ page.parent.title|default:"A Wagtail developer"  }}
                </a>
                {% if page.in_cooperation_with %}
                    <span class="project-featuring">
                        &mdash; in cooperation with
                        <a href="{{ page.in_cooperation_with.url }}">
                            {{ page.in_cooperation_with.title }}
                        </a>
                    </span>
                {% endif %}
            </p>
        </div>
    {% endfor %}

</div>
{% else %}
<div class="intro">
    Whoops, we don't have any sites that match that right now.
</div>
{% endif %}

{% usemacro pagination pages tag %}
