backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
configparser==3.5.0
contextlib2==0.5.5
decorator==4.3.0
Django==1.11.13  # rq.filter: >=1.11,<2
django-appconf==1.0.2
django-compressor==2.2
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-modelcluster==4.1
django-recaptcha==1.4.0
django-redis-cache==1.7.1
django-taggit==0.22.2
django-treebeard==4.3
djangorestframework==3.8.2
enum34==1.1.6
flake8==3.5.0
futures==3.2.0
html5lib==1.0.1
ipdb==0.11
ipython==6.3.1
ipython-genutils==0.2.0
isort==4.3.4
mccabe==0.6.1
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.2
pycodestyle==2.4.0
pyflakes==1.6.0
Pygments==2.2.0
pytz==2018.4
raven==6.7.0
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
rjsmin==1.0.12
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
slackweb==1.0.5
sqlparse==0.2.4
traitlets==4.3.2
typing==3.6.4
Unidecode==1.0.22
wagtail==2.0.1
wagtail-django-recaptcha==1.0
wagtailgmaps==1.0
wcwidth==0.1.7
Willow==1.1
