anyascii==0.3.0
asgiref==3.4.1
backcall==0.2.0
beautifulsoup4==4.8.2
black==22.12.0
boto3==1.24.15
botocore==1.27.15
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
decorator==5.1.1
dj-database-url==0.5.0
Django==3.2.16
django-amazon-ses==2.1.1
django-cache-url==2.0.0
django-debug-toolbar==3.2.4
django-extensions==3.1.5
django-filter==2.4.0
django-modelcluster==6.1
django-permissionedforms==0.1
django-recaptcha==3.0.0
django-redis-cache==1.7.1
django-storages==1.13.1
django-taggit==2.1.0
django-treebeard==4.5.1
djangorestframework==3.13.1
draftjs-exporter==2.1.7
entrypoints==0.4
et-xmlfile==1.1.0
flake8==4.0.1
flakeheaven==3.3.0
gunicorn==20.1.0
html5lib==1.1
idna==3.3
ipdb==0.13.9
ipython==7.32.0
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.17.2
jmespath==0.10.0
l18n==2021.3
matplotlib-inline==0.1.3
mbstrdecoder==1.1.0
mccabe==0.6.1
mypy-extensions==1.0.0
openpyxl==3.0.9
parso==0.7.1
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==3.11.0
prompt-toolkit==3.0.28
psycopg2==2.9.3
ptyprocess==0.7.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
python-dateutil==2.8.2
pytz==2023.3.post1
redis==2.10.6
requests==2.27.1
s3transfer==0.6.0
sentry-sdk==0.13.5
six==1.16.0
slackweb==1.0.5
soupsieve==2.3.1
sqlparse==0.4.2
tablib==3.1.0
telepath==0.2
toml==0.10.2
tomli==2.0.1
traitlets==4.3.3
typed-environment-configuration==0.1.4
typepy==0.2.5
Unidecode==1.3.4
urllib3==1.26.9
wagtail==3.0.3
wagtail-django-recaptcha==1.0
wagtailgmaps==1.0.1
wcwidth==0.2.5
webencodings==0.5.1
Willow==1.4.1
xlrd==2.0.1
XlsxWriter==1.4.5
xlwt==1.3.0
