.i-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.i-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.i-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.i-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.i-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.i-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.i-made-with-wagtail-logo { background-image: url('png/made-with-wagtail-logo.png'); background-repeat: no-repeat; }

.i-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.springload-dark,
.i-springload-logo-dark { background-image: url('png/springload-logo-dark.png'); background-repeat: no-repeat; }

.i-springload-logo { background-image: url('png/springload-logo.png'); background-repeat: no-repeat; }

.i-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.i-visit { background-image: url('png/visit.png'); background-repeat: no-repeat; }

.i-wagtail-logo-og { background-image: url('png/wagtail-logo-og.png'); background-repeat: no-repeat; }

.wagtail,
.i-wagtail-logo { background-image: url('png/wagtail-logo.png'); background-repeat: no-repeat; }

