*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #212f2e; }

body {
  background-color: #fff;
  font-size: 16px;
  color: #364D4C;
  text-rendering: optimizeLegibility;
  margin: 0;
  min-height: 100%; }

/*============================================================================
  #Typography
==============================================================================*/
body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p, li, label, td, th, input, textarea, button, select {
  font-weight: 400; }

p, li, label, td, th, input, textarea, button, select {
  font-size: 14px;
  font-size: 0.875rem; }

p:first-child, li:first-child, label:first-child, td:first-child, th:first-child, input:first-child, textarea:first-child, button:first-child, select:first-child {
  margin-top: 0; }

::-moz-selection {
  background: #e5e5e5;
  /* WebKit/Blink Browsers */ }

::selection {
  background: #e5e5e5;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #e5e5e5;
  /* Gecko Browsers */ }

.text * + * {
  margin-top: 12px;
  margin-top: 0.75rem; }

body,
input,
textarea,
button,
select {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #364D4C;
  -webkit-text-size-adjust: 100%; }

/*================ Use em() Sass function to declare font-size ================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    text-decoration: none;
    font-weight: inherit; }

h1, .h1, .h1 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  color: #505961;
  margin-bottom: 16px;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 650px) {
    h1, .h1, .h1 {
      font-size: 1.375rem; } }
  @media only screen and (min-width: 651px) and (max-width: 1023px) {
    h1, .h1, .h1 {
      font-size: 1.75rem; } }

h2, .h2, .h2 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 1400px) {
    h2, .h2, .h2 {
      font-size: 1.375rem; } }

h3, .h3, .h3 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25; }

h4, .h4, .h4 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

p, ul, ol, dl, address {
  margin-top: 0; }
  p img, ul img, ol img, dl img, address img {
    margin: 0; }

em {
  font-style: italic; }

/* link styles */
.text a, .link-styled {
  color: #43B1B0;
  -webkit-transition: color .125s ease-in-out;
          transition: color .125s ease-in-out; }
  .no-touch .text a:hover, .text .no-touch a:hover, .no-touch .link-styled:hover {
    color: #358c8b; }
  .text a:active, .link-styled:active {
    color: #358c8b; }

.link-underline {
  text-decoration: underline; }

.list-none {
  list-style: none;
  padding-left: 0; }
  .list-none > li {
    margin-bottom: 16px;
    margin-bottom: 1rem; }

.link-ghost {
  color: inherit; }

.text-light {
  color: #797A7B; }

.intro p {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

object,
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-width: 0; }

.img--responsive {
  width: 100%;
  height: auto; }

a {
  color: #43B1B0;
  text-decoration: none;
  outline: none; }
  .no-touch a:hover {
    color: #358c8b; }

.site-footer {
  color: #fff; }

.block--dark {
  color: #AEB7B7;
  background-color: #212f2e; }

.sensible-maximum-width {
  max-width: 1400px;
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto; }

.content-width, .content-width--full {
  padding-left: 8%;
  padding-right: 8%; }

.content-width > :last-child {
  margin-bottom: 0; }

.nice-line-length, .company__description, .search-results, .search-form {
  max-width: 660px;
  max-width: 41.25rem; }
  .one-half .nice-line-length, .one-half .company__description, .one-half .search-results, .one-half .search-form {
    max-width: 500px;
    max-width: 31.25rem; }

.logo--inline {
  vertical-align: sub; }

.site-content {
  min-height: 10em; }

/*============================================================================
  SVG icons
==============================================================================*/
.i {
  display: inline-block;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  background-size: cover; }
  .icon-text > .i {
    margin-right: 0.16667em; }
  .icon-text--rev > .i {
    margin-left: 0.125em; }
  .icon-text > .i,
  .icon-text--rev > .i {
    margin-top: -0.1em;
    vertical-align: middle; }
  .icon-text > .i + span {
    vertical-align: middle; }

svg > use {
  fill: currentColor; }

.i--black > use {
  fill: #000; }

.i--white > use {
  fill: #fff; }

.i--grey > use, .company__info__item .i > use {
  fill: #767676; }

.i--teal > use {
  fill: #43B1B0; }

.i--hover:hover use,
a:hover .i--hover use {
  fill: #358c8b; }

.i--no-fill > use {
  fill: none; }

/* colourised icons */
.i--white {
  background-position: 0 25%; }

.i--grey, .company__info__item .i {
  background-position: 0 50%; }

.i--teal {
  background-position: 0 75%; }

.no-touch .i--hover:hover {
  background-position: 0 100%; }

/* custom icon sizes */
.i--small {
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem; }

.made-with-wagtail {
  width: 205px;
  width: 12.8125rem;
  height: 32px;
  height: 2rem; }
  .made-with-wagtail > use {
    fill: #231F20; }

.wagtail {
  background-size: cover;
  width: 70px;
  width: 4.375rem;
  height: 22px;
  height: 1.375rem; }

.springload,
.springload-dark {
  background-size: cover;
  width: 95px;
  width: 5.9375rem;
  height: 15px;
  height: 0.9375rem; }

button {
  overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

.btn {
  display: inline-block;
  padding: .5em 1.5em;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  background-color: #43B1B0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff; }
  p + .btn {
    margin-top: 24px;
    margin-top: 1.5rem; }

.no-touch .btn:hover {
  background-color: #358c8b; }

.no-touch .btn:hover {
  color: #fff; }

.site-footer .link:hover {
  text-decoration: underline;
  color: #88d2d1; }

.btn--large {
  padding: 1em 2.5em;
  line-height: 1.6; }

.btn.-inverse {
  font-weight: 400;
  border: 0;
  background: #fff;
  color: #364D4C; }
  .btn.-inverse:hover, .btn.-inverse:active {
    background: #333;
    color: #fff; }

.btn.-tag {
  background: #91A3A2;
  line-height: 1.4;
  font-size: 12px;
  font-size: .75rem;
  color: #fff;
  position: relative;
  -webkit-border-radius: .25em;
          border-radius: .25em;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .75em;
  text-transform: capitalize; }
  .btn.-tag:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: -1px;
    border: solid transparent 1.2em;
    border-right: solid 0.6em #91A3A2; }
  .btn.-tag:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 5px;
    height: 5px;
    background: #adbab9;
    -webkit-border-radius: 20em;
            border-radius: 20em;
    margin-top: -3px;
    margin-right: -10px; }
  .btn.-tag:hover {
    background: #758c8b;
    color: #fff; }
    .btn.-tag:hover:before {
      border-right-color: #758c8b; }

.btn.-small {
  font-size: 14px;
  font-size: .875rem; }

.btn.-full {
  width: 100%; }

.btn-group > .btn {
  margin-bottom: 1.5em; }

/*============================================================================
  Navigation
==============================================================================*/
.nav, .pagination, .company__info {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav > li, .pagination > li, .company__info > li {
  margin-top: 0; }

.nav {
  margin-top: 12px;
  margin-top: 0.75rem; }
  @media only screen and (max-width: 650px) {
    .nav {
      margin-right: -4%; } }
  @media only screen and (min-width: 651px) {
    .nav {
      margin-top: 0;
      text-align: right; } }

.nav__item + .nav__item {
  margin-left: .75em; }
  @media only screen and (min-width: 651px) {
    .nav__item + .nav__item {
      margin-left: 1em; } }
  @media only screen and (min-width: 1024px) {
    .nav__item + .nav__item {
      margin-left: 2em; } }

.nav__link {
  color: #43B1B0;
  font-weight: 600; }
  .no-touch .nav__link:hover {
    color: #358c8b; }
  .nav__link.is-active {
    color: #364D4C; }
  .no-touch .nav__link:hover .i {
    background-position: 0 100%; }

/*============================================================================
  Pagination
==============================================================================*/
.pagination__item + .pagination__item {
  margin-left: .4em; }

.pagination__link, .pagination__inactive, .pagination__current {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  text-align: center;
  width: 36px;
  width: 2.25rem;
  height: 36px;
  height: 2.25rem;
  color: #364D4C;
  padding-top: 8px;
  padding-top: .5rem; }
  @media only screen and (max-width: 650px) {
    .pagination__link, .pagination__inactive, .pagination__current {
      width: 1.875rem;
      height: 1.875rem;
      padding-top: .3rem; } }
  .pagination__link .bigger, .pagination__inactive .bigger, .pagination__current .bigger {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 0;
    font-weight: 600; }

.pagination__link {
  background-color: #43B1B0;
  -webkit-transition: background-color .125s ease-in-out;
          transition: background-color .125s ease-in-out; }
  .no-touch .pagination__link:hover {
    background-color: #358c8b; }

.pagination__inactive {
  background-color: #43B1B0;
  opacity: .35;
  filter: alpha(opacity=35); }

.pagination__current {
  background-color: #fff; }

.pagination__arrow {
  width: 10px;
  width: .625rem;
  height: 10px;
  height: .625rem;
  vertical-align: middle; }

.breadcrumb {
  list-style: none;
  padding-left: 0;
  padding-bottom: 8px;
  padding-bottom: .5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
  .breadcrumb a {
    color: #797A7B; }
    .breadcrumb a:hover {
      color: #333; }
  .breadcrumb > li {
    font-size: 12px;
    display: inline-block; }
  .breadcrumb .i {
    width: 8px;
    width: .5rem;
    height: 8px;
    height: .5rem;
    margin-left: 4px;
    margin-left: .25rem;
    margin-right: 4px;
    margin-right: .25rem; }

/**

## Media blocks

Float an image to the left, with a clearfixed block of content to the right.

```html
<div class='media'>
    <img src='assets/images/green-bird.jpg' class='media__image'>
    <div class='media__body'>
        <p class='mt-0'>
            Uncle Bully was pashing when the pearler packing a sad event occured. Oh no! I'm beached as, this carked it seabed is as stoked as a flat stick kumara. Mean while, in a waka, Rhys Darby and Cardigan Bay were up to no good with a bunch of random milks.
        </p>
    </div>
</div>
<hr class='mt-m' />
<div class='media--rev'>
    <img src='assets/images/green-bird.jpg' class='media__image'>
    <div class='media__body'>
       <p class=''>
        I'd slam that clam, good afterble constanoon. The snarky force of his burning my Vogel's was on par with Hercules Morse, as big as a horse's good as mate.
        </p>
    </div>
</div>
```

*/
.media__image {
  float: left;
  margin-right: 24px;
  margin-right: 1.5rem; }

/* Swap the image to the right */
.media--rev > .media__image {
  float: right;
  margin-right: 0;
  margin-left: 24px;
  margin-left: 1.5rem; }

.company__logo {
  width: 6em;
  height: 6em;
  margin-bottom: 8px;
  margin-bottom: .5rem; }
  .company__logo > img {
    width: 100%; }
  @media only screen and (min-width: 651px) {
    .company__logo {
      width: 7.5em;
      height: 7.5em; } }

@media only screen and (max-width: 650px) {
  .company__info > li {
    display: block; } }

.company__info__item {
  margin-right: 16px;
  margin-right: 1rem;
  margin-bottom: 8px;
  margin-bottom: .5rem; }

.company__sites {
  border-top: solid 1px #D1D6D8; }

.company__details {
  max-width: 38em; }
  @media only screen and (min-width: 651px) {
    .company__details {
      width: 70%; } }

.company-listing {
  display: block;
  border-bottom: solid 1px #D1D6D8;
  padding-bottom: 1em;
  margin-bottom: 1em; }
  .company-listing > .media__image {
    width: 80px;
    height: 80px;
    background: #A3B0B0; }
  .company-listing:hover h3, .company-listing:hover .h3, .company-listing:hover h4, .company-listing:hover .h4 {
    color: #43B1B0; }
  .company-listing:hover .media__image {
    position: relative; }
    .company-listing:hover .media__image:after {
      content: "";
      outline: solid 4px #43B1B0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.company-listing__column {
  width: 100%; }

.company-listing__title {
  margin-top: 1em;
  margin-bottom: .25em; }

.company-listing__location {
  color: #797A7B; }

.site-content {
  background-color: #E7EDED; }

.site-footer {
  background: #364D4C; }
  .site-footer * + h4, .site-footer * + .h4 {
    margin-top: 24px;
    margin-top: 1.5rem; }
  @media only screen and (max-width: 650px) {
    .site-footer .grid > * + * {
      margin-top: 0.75rem; } }

.site-footer-link {
  font-weight: 700;
  color: #fff; }
  .site-footer-link:hover {
    color: #88d2d1; }

.block--dark {
  display: block; }

/*============================================================================
  # Spacing
==============================================================================*/
.site-header__intro, .company__description, .site-header, .company, .block--dark, .vertical, .vertical-top {
  padding-top: 24px;
  padding-top: 1.5rem; }
  @media only screen and (max-width: 650px) {
    .site-header__intro, .company__description, .site-header, .company, .block--dark, .vertical, .vertical-top {
      padding-top: 1.125rem; } }

.company__description, .site-header, .company, .block--dark, .vertical, .vertical-bottom {
  padding-bottom: 24px;
  padding-bottom: 1.5rem; }
  @media only screen and (max-width: 650px) {
    .company__description, .site-header, .company, .block--dark, .vertical, .vertical-bottom {
      padding-bottom: 1.125rem; } }

.site-header, .site-footer, .company__sites, .site-content, .vertical-l, .vertical-top-l {
  padding-top: 48px;
  padding-top: 3rem; }
  @media only screen and (max-width: 650px) {
    .site-header, .site-footer, .company__sites, .site-content, .vertical-l, .vertical-top-l {
      padding-top: 2.25rem; } }

.company__sites, .site-content, .vertical-l, .vertical-bottom-l, .search-results, .search-box {
  padding-bottom: 48px;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 650px) {
    .company__sites, .site-content, .vertical-l, .vertical-bottom-l, .search-results, .search-box {
      padding-bottom: 2.25rem; } }

.vertical-xl, .vertical-top-xl {
  padding-top: 72px;
  padding-top: 4.5rem; }
  @media only screen and (max-width: 650px) {
    .vertical-xl, .vertical-top-xl {
      padding-top: 3.375rem; } }

.site-footer, .vertical-xl, .vertical-bottom-xl {
  padding-bottom: 72px;
  padding-bottom: 4.5rem; }
  @media only screen and (max-width: 650px) {
    .site-footer, .vertical-xl, .vertical-bottom-xl {
      padding-bottom: 3.375rem; } }

.vertical-xxl, .vertical-top-xxl {
  padding-top: 96px;
  padding-top: 6rem; }
  @media only screen and (max-width: 650px) {
    .vertical-xxl, .vertical-top-xxl {
      padding-top: 4.5rem; } }

.vertical-xxl, .vertical-bottom-xxl {
  padding-bottom: 96px;
  padding-bottom: 6rem; }
  @media only screen and (max-width: 650px) {
    .vertical-xxl, .vertical-bottom-xxl {
      padding-bottom: 4.5rem; } }

.vertical-s, .vertical-top-s {
  padding-top: 12px;
  padding-top: 0.75rem; }
  @media only screen and (max-width: 650px) {
    .vertical-s, .vertical-top-s {
      padding-top: 0.5625rem; } }

.vertical-s, .vertical-bottom-s {
  padding-bottom: 12px;
  padding-bottom: 0.75rem; }
  @media only screen and (max-width: 650px) {
    .vertical-s, .vertical-bottom-s {
      padding-bottom: 0.5625rem; } }

.card {
  background: #A3B0B0;
  border: solid 12px #fff;
  border: solid .75rem #fff;
  display: block;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  -webkit-border-radius: .125rem;
          border-radius: .125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  position: relative; }

.card--link:hover img {
  -webkit-transform: translateY(-4%);
      -ms-transform: translateY(-4%);
          transform: translateY(-4%); }

.card--link:hover .project__links {
  opacity: 1;
  filter: alpha(opacity=100); }

.project__links {
  width: 100%;
  background: white;
  padding: 1em .5em 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  text-align: left;
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .project__links > a {
    display: inline-block;
    margin-right: 1em; }

.project-big-image {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 83%; }

.project-image {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 66%;
  overflow: hidden;
  outline: solid 1px #fff; }
  .project-image > img {
    top: 0;
    left: 0;
    width: 100%;
    outline: solid 1px #fff;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.project-title {
  margin-bottom: 2px;
  margin-bottom: .125rem; }

.project-author {
  color: #797A7B; }

.project-author--block {
  margin-bottom: 2em; }

.banner {
  padding-bottom: 3%; }
  .banner > * {
    max-width: 512px;
    max-width: 32rem; }

.site-listing {
  margin-left: -32px;
  margin-left: -2rem; }
  .site-listing > * {
    padding-left: 32px;
    padding-left: 2rem; }

.form input[type='text'],
.form input[type='email'],
.form input[type='url'],
.form textarea {
  padding: .5em .75em;
  -webkit-border-radius: 0.25em;
          border-radius: 0.25em;
  border: solid 1px #ccc; }

.form-add-page {
  max-width: 30em; }
  .form-add-page input, .form-add-page textarea {
    width: 100%; }
  .form-add-page p > label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
    margin-bottom: .5rem; }

.helptext {
  display: none; }

.errorlist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 8px;
  margin-bottom: .5rem;
  color: #ff0000; }
  .errorlist + p input,
  .errorlist + p textarea {
    border: solid 1px #ff0000 !important; }

.search-results__item + .search-results__item {
  padding-top: 24px;
  padding-top: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  position: relative; }
  .search-results__item + .search-results__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    border-top: 1px solid #D1D6D8; }

.search-results__item:hover .search-results__title {
  color: #43B1B0; }

.search-results__title {
  margin-bottom: .25em;
  color: #364D4C; }

.search-results__description {
  color: #364D4C; }

.search-form input[type='text'] {
  width: 100%;
  height: 40px;
  height: 2.5rem;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  border-right: none; }

.search-form .btn {
  height: 40px;
  height: 2.5rem;
  -webkit-border-bottom-right-radius: 0.25em;
          border-bottom-right-radius: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
          border-top-right-radius: 0.25em; }

.grid {
  font-size: 0; }

.grid > * {
  vertical-align: top;
  text-align: left;
  font-size: medium;
  text-justify: auto;
  margin-top: 0;
  width: 100%; }

.grid:after {
  content: '';
  height: 0;
  width: 100%; }

.align-top {
  vertical-align: top; }

.align-bottom {
  vertical-align: bottom; }

.align-middle {
  vertical-align: middle; }

.one-whole {
  width: 100%; }

.one-half,
.two-quarter {
  width: 50%; }

.one-third {
  width: 33.33333%; }

.two-thirds {
  width: 66.66667%; }

.one-quarter {
  width: 25%; }

.three-quarter {
  width: 75%; }

.one-fifth {
  width: 20%; }

.two-fifths {
  width: 40%; }

.three-fifths {
  width: 60%; }

.four-fifths {
  width: 80%; }

@media only screen and (max-width: 650px) {
  .one-whole--small {
    width: 100%; }
  .one-half--small,
  .two-quarter--small {
    width: 50%; }
  .one-third--small {
    width: 33.33333%; }
  .two-thirds--small {
    width: 66.66667%; }
  .one-quarter--small {
    width: 25%; }
  .three-quarter--small {
    width: 75%; }
  .one-fifth--small {
    width: 20%; }
  .two-fifths--small {
    width: 40%; }
  .three-fifths--small {
    width: 60%; }
  .four-fifths--small {
    width: 80%; } }

@media only screen and (min-width: 651px) and (max-width: 1023px) {
  .one-whole--medium {
    width: 100%; }
  .one-half--medium,
  .two-quarter--medium {
    width: 50%; }
  .one-third--medium {
    width: 33.33333%; }
  .two-thirds--medium {
    width: 66.66667%; }
  .one-quarter--medium {
    width: 25%; }
  .three-quarter--medium {
    width: 75%; }
  .one-fifth--medium {
    width: 20%; }
  .two-fifths--medium {
    width: 40%; }
  .three-fifths--medium {
    width: 60%; }
  .four-fifths--medium {
    width: 80%; } }

@media only screen and (min-width: 651px) {
  .one-whole--medium {
    width: 100%; }
  .one-half--medium,
  .two-quarter--medium {
    width: 50%; }
  .one-third--medium {
    width: 33.33333%; }
  .two-thirds--medium {
    width: 66.66667%; }
  .one-quarter--medium {
    width: 25%; }
  .three-quarter--medium {
    width: 75%; }
  .one-fifth--medium {
    width: 20%; }
  .two-fifths--medium {
    width: 40%; }
  .three-fifths--medium {
    width: 60%; }
  .four-fifths--medium {
    width: 80%; } }

@media only screen and (min-width: 1024px) {
  .one-whole--large {
    width: 100%; }
  .one-half--large,
  .two-quarter--large {
    width: 50%; }
  .one-third--large {
    width: 33.33333%; }
  .two-thirds--large {
    width: 66.66667%; }
  .one-quarter--large {
    width: 25%; }
  .three-quarter--large {
    width: 75%; }
  .one-fifth--large {
    width: 20%; }
  .two-fifths--large {
    width: 40%; }
  .three-fifths--large {
    width: 60%; }
  .four-fifths--large {
    width: 80%; } }

@media only screen and (min-width: 1400px) {
  .one-whole--xlarge {
    width: 100%; }
  .one-half--xlarge,
  .two-quarter--xlarge {
    width: 50%; }
  .one-third--xlarge {
    width: 33.33333%; }
  .two-thirds--xlarge {
    width: 66.66667%; }
  .one-quarter--xlarge {
    width: 25%; }
  .three-quarter--xlarge {
    width: 75%; }
  .one-fifth--xlarge {
    width: 20%; }
  .two-fifths--xlarge {
    width: 40%; }
  .three-fifths--xlarge {
    width: 60%; }
  .four-fifths--xlarge {
    width: 80%; } }

.grid-float {
  margin-left: -32px;
  margin-left: -2rem; }
  .grid-float > * {
    float: left;
    display: block;
    padding-left: 32px;
    padding-left: 2rem; }

.grid-float.-thirds > * {
  width: 100%; }
  @media only screen and (min-width: 651px) {
    .grid-float.-thirds > * {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .grid-float.-thirds > * {
      width: 33.333333%; } }

.grid-stack > * {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

hr {
  border: none;
  height: 1px;
  color: #D1D6D8;
  background-color: #D1D6D8;
  margin: 48px auto 32px;
  margin: 3rem auto 2rem; }
  hr.hr--short {
    width: 80px;
    width: 5rem; }
  h1 + hr, .h1 + hr {
    margin: 48px auto;
    margin: 3rem auto; }

.no-js .no-js__hide {
  display: none !important; }

.no-js .no-js__show {
  display: block !important; }

.keyline-bottom {
  border-bottom: solid 1px #D1D6D8; }

.keyline-top {
  border-top: solid 1px #D1D6D8; }

.nav, .pagination, .company__info, .media, .media__body, .media--rev, .media--rev > .media__body, .grid-float {
  *zoom: 1; }

.nav:before, .pagination:before, .company__info:before, .media:before, .media__body:before, .media--rev:before, .media--rev > .media__body:before, .grid-float:before {
  content: " ";
  display: table; }

.nav:after, .pagination:after, .company__info:after, .media:after, .media__body:after, .media--rev:after, .media--rev > .media__body:after, .grid-float:after {
  clear: both;
  content: " ";
  display: table; }

/*============================================================================
  Utilities
==============================================================================*/
.u-left {
  text-align: left; }

.u-center, .site-footer {
  text-align: center; }

.u-right {
  text-align: right; }

@media only screen and (min-width: 1024px) {
  .u-right--large {
    text-align: right; } }

.u-top {
  vertical-align: top; }

.u-middle {
  vertical-align: middle; }

.u-bottom {
  vertical-align: bottom; }

.logo--inline, .made-with-wagtail, .wagtail, .springload,
.springload-dark, .nav__item, .pagination__item, .pagination__link, .pagination__inactive, .pagination__current, .company__info__item, .grid > *, .grid:after, .u-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.u-inline {
  display: inline; }

.u-uppercase {
  text-transform: uppercase; }

.u-underline {
  text-decoration: underline; }

.u-bold,
strong {
  font-weight: 800; }

.u-medium {
  font-weight: 600; }

.u-small,
small {
  font-size: 16px;
  font-size: 1rem; }
  .u-small p, .u-small li,
  small p,
  small li {
    font-size: 16px;
    font-size: 1rem; }

.u-tiny {
  font-size: 13px;
  font-size: 0.8125rem; }

.u-muted {
  color: #AEB7B7; }

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.u-overflow-hidden {
  overflow: hidden; }

.u-show--small {
  display: none; }
  @media only screen and (max-width: 650px) {
    .u-show--small {
      display: block; } }

.u-hide {
  display: none; }

@media only screen and (max-width: 650px) {
  .u-hide--small {
    display: none; } }

@media only screen and (min-width: 651px) and (max-width: 1023px) {
  .u-hide--medium-only {
    display: none; } }
